@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');




*, ::before, ::after {
    box-sizing: border-box;
    margin : 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.body{
    width: 200vh;
    height: 100vh;

}

/* TEST */
.scroll-container {
    width: 200vh;
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
  
  .scroll-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 5em;
  }